doctype html
html
  head
    include head

  body
    - var selected = "about"
    include header

    main.aboutme(role='“main”')
      .container
        .row
          .col-md-6
            img.photoofme(src='/images/caitlin.jpg', alt='photo of Caitlin Fullam in mountains', width='100%')
          .col-md-6
            p Caitlin seeks to expose and share the beauty that lives in this world through photography and storytelling.  Having travelled extensively and lived in several different countries, she is most inspired by adventure, breath-taking landscapes, chasing the unknown, the simple things, and a deep nostalgia for the places she once knew and people she has met along the way.

            p As a freelance photographer, Caitlin loves meeting new people and capturing their essence through adventure engagement and creative portrait sessions. Most recently, she worked in house for a lingerie company, where she directed and shot bodyscape images that celebrate the female form. In her spare time she works on her personal project 
              a(href="/barefoot-atlas/") “Barefoot Atlas”
              | , in which she combines self-portraiture and beloved landscapes to evoke the childlike abandon one feels when alone in nature.  

            p Based (loosely) in Portland, quite willing to travel anywhere and everywhere. 
            p Upcoming Trips: Scotland, Colorado, New York, Israel, Turkey.
    hr

    include footer

