<header id="fixed-nav" role=“banner”>
  <nav role="navigation" class="navbar">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span> 
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <h1>caitlin fullam</h1>
      <ul class="notbootstrap-navbar">
        <li class="active"><a class="active" href="index.html" target="_self">photography</a></li>
        <li><a href="about.html" target="_self">about</a></li>
        <li><a href="workwithme.html" target="_self">work with me</a></li>
        <li><a href="https://blog.caitlinfullam.com/" target="_blank">blog</a></li>
      </ul>
      <!--<div id="socialmediaicons">
                <a href="https://www.linkedin.com/in/caitlinfullam" target="_blank"><img src="images/linkedin.png" alt="Linkedin button link" style="width:20px;height:20px"></a>
                <a href="https://blog.caitlinfullam.com/" target="_blank"><img src="images/wordpress-logo.png" alt="Wordpress button link" style="width:22px;height:22px"></a>
                <a href="https://www.instagram.com/caitlinnicolefullam/" target="_blank"><img src="images/instagram.png" alt="Instagram button link" style="width:20px;height:20px"></a>
            </div>-->
    </div>
  </nav>
</header>
