doctype html
html
  head
    include head

  body

    - var selected = "photography"
    include header

    main#no-margin(role='“main”')
      .container
        .grid
          .portfolio-gutter-sizer.gutter-sizer
          .portfolio-row
            .portfolio-column.first-portfolio-column
              .image-with-box
                img(src='/images/portfolio/large/portraits.jpg', width='100%')
                .block-button-container
                  a.project-link(href='/portraits-and-engagements/') Portraits: Solo & Couples
            .portfolio-column
              .image-with-box
                img(src='/images/portfolio/large/landscapes.JPG', width='100%')
                .block-button-container
                  a.project-link(href='/landscapes-and-nature/') The Outdoors
          .portfolio-row
            .portfolio-column.first-portfolio-column
              .image-with-box
                img(src='/images/portfolio/large/barefootatlas.JPG', width='100%')
                .block-button-container
                  a.project-link(href='/barefoot-atlas/') Art: Barefoot Atlas
            .portfolio-column
              .image-with-box
                img(src='/images/portfolio/large/travel.JPG', width='100%')
                .block-button-container
                  a.project-link(href='/travel/') Lifestyle & Travel

    include footer

