doctype html
html
  head
    include head

  body

    - var selected = "photography"
    include header

    main#no-margin(role='“main”')
      .container
        .grid
          .portfolio-gutter-sizer.gutter-sizer
          .portfolio-row
            .portfolio-column.first-portfolio-column
              .image-with-box
                img(src='/images/portfolio/large/portraits.jpg', width='100%')
                .block-button-container
                  a.project-link(href='/portraits-and-engagements/') Portraits & Engagements
            .portfolio-column
              .image-with-box
                img(src='/images/portfolio/large/nature.jpg', width='100%')
                .block-button-container
                  a.project-link(href='/landscapes-and-nature/') Landscapes & Nature
          .portfolio-row
            .portfolio-column.first-portfolio-column
              .image-with-box
                img(src='/images/portfolio/large/barefoot-atlas.jpg', width='100%')
                .block-button-container
                  a.project-link(href='/barefoot-atlas/') Barefoot Atlas
            .portfolio-column
              .image-with-box
                img(src='/images/portfolio/large/travel.jpg', width='100%')
                .block-button-container
                  a.project-link(href='/travel/') Travel

    include footer

