doctype html
html(lang='“en”')
  head
    include head
  body#isotope
    - var selected = "photography"
    include header

    main(role='“main”')
      .grid
        a(name='top')
        .grid-sizer
        .project-gutter-sizer.gutter-sizer
        each image in images
          .grid-item
            a(href='/images/' + prefix + '/large/' + image, data-lightbox='photoset')
              img(src='/images/' + prefix + '/small/' + image, data-lightbox='photoset')
    hr

    include footer
    script(src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js")

