doctype html
html
  head
    include head

  body
    - var selected = "work with me"
    include header

    main#no-margin(role='“main”')
      .container
        .row
          .col-sm-6.col-sm-offset-3.centered-text
            h3.workwithme-header Please feel free to reach out if you’d like to work together or have any questions regarding licensing or prints. I’d love to hear from you!
        .row
          .col-sm-12
            form(action='https://formspree.io/fullam.caitlin@gmail.com', method='POST')
              .form-group
                label.padded-label.control-label.label-wrapper Name *
                .contactme-column.first-column.col-sm-6
                  input#inputFirstName.form-control(type='text', name='firstName', placeholder='')
                  label.sublabel.control-label(for='firstName') First Name
                .contactme-column.col-sm-6
                  input#inputLastName.form-control(type='text', name='lastName', placeholder='')
                  label.sublabel.control-label(for='lastName') Last Name
              .form-group
                label.padded-label.control-label(for='inputmsg') Email Address *
                input#inputEmail.form-control(type='text', name='email', placeholder='')
              .form-group
                label.padded-label.control-label(for='inputmsg') Subject *
                input#inputSubject.form-control(type='text', name='subject', placeholder='')
              .form-group
                label.padded-label.control-label(for='inputmsg') Message *
                textarea#inputMsg.form-control(name='message', placeholder='')
              .form-group.centered-text
                button.btn.btn-default.btn-lg(type='submit') Submit
    hr

    include footer

