header {
    position: fixed;
    /* Make it stick, even on scroll */
    z-index: 10;
    background: #FFFFFF;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: "Calibri", Helvetica, sans-serif;
    color: black;
    font-size: 150%;
    letter-spacing: 2px;
}

.nav.navbar-nav li a {
    color: darkgray;
}

.nav.navbar-nav li a.active {
    color: black
}
.navbar-toggle .icon-bar {
    background-color: black
}
#socialmediaicons img {
    float: right;
    margin-right: 15px;
    opacity: .7;
}

#socialmediaicons img:hover {
    opacity: .3;
}

#socialmediaicons {
    margin-right: 50px;
}

h1 {
    color: black;
    font-family: "Calibri", Helvetica, sans-serif;
    font-size: 300%;
    font-weight: 80%;
    padding-bottom: 10px;
    padding-left: 8px;
    letter-spacing: 3.5px;
}

main {
    margin-top: 112px;
    padding-left: 8px
}
@media only screen and (min-width: 993px){
    main{
        margin-top:220px;
    }
}

ul {
    list-style-type: none;
}
.col a img:hover {
    opacity: 0.7;
}
.two .col {
    height: 100%;
}

.three .col {
    resize: both;
    max-width:100%;
    height: 100%;
}
.threeacross {
    width: 100%;
    height:100%;
}
.twoacross {
    width: 100%;
    height: 100%;
}
.crop-height{
   overflow:hidden;
    resize:none;
}
img.scale {
  /* corrects inline gap in enclosing div */
  display: block;
  max-width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  width: auto\9; /* ie8+9 */
}

@media only screen and (min-width: 993px){
  .three {
    padding-left: 48px;
    padding-right: 48px;
  }  
    .two {
    padding-left: 48px;
    padding-right: 48px;
}
}

p {
    padding-left: 48px;
    font-family: "Calibri", Helvetica, sans-serif;
    font-size: 125%;
    letter-spacing: 1.5px;
    text-align: justify;
}

.contactmelist {
    padding-left: 48px;
    font-family: "Calibri", Helvetica, sans-serif;
    float: left;
    text-align: left;
}

main.aboutme {
    margin-right: 48px;
    margin-bottom: 100px;
}

img.photoofme {
    float: left;
    margin-right: 50px;
    margin-bottom: 5px;
}

img.contactmephoto {
    padding-left: 48px;
    float: right;
    padding-bottom: 100px;
    padding-right: 48px;
}

.backtotop {
    float: right;
    padding-right: 48px;
    font-family: "Calibri", Helvetica, sans-serif;
    color: black;
}

footer {
    font-family: "Calibri", Helvetica, sans-serif;
    padding-left: 8px;
    margin-top: 200px;
}